<body class="admin">
    <div id="app">
        <center>
            <h3>{{title}}</h3>
            <button style='width: 170px; display: block;' onclick="window.location='/accounts/{{account}}'">My Account</button>
            <button style='width: 170px; display: block;' onclick="window.location='/accounts'">Accounts</button>
            <button style='width: 170px; display: block;' onclick="window.location='/map'">Map</button>
            <button style='width: 170px; display: block;' onclick="window.location='/drones'">Drones</button>
            <button style='width: 170px; display: block;' onclick="window.location='/jobs'">Jobs</button>
            <button style='width: 170px; display: block;' onclick="window.location='/bases'">Base Stations</button>
            <button style='width: 170px; display: block;' onclick="window.location='/tokenmanager'">Token Manager</button>
            <button style='width: 170px; display: block;' onclick="window.location='/logout'">Logout</button>
        </center>
    </div>
</body>