<body class="connectdrone">   
    <div id="app">
        <center>
            <h3>{{title}}</h3>
            Drone Name*: <input type="text" id="name"></input><br>
            IP Address*: <input type="text" id="ip"></input><br>
            MAC Address: <input type="text" id="mac"></input><br>
            <button onclick="window.location='/drones'">Cancel</button>
            <button onclick="connectDrone()">Submit</button>
        </center>
    </div>
    <script src="/drones.js"></script>
</body>