<body class="login" onload="checkStatus()">   
    <div id="app">
        <div id="login">
            <h4>{{title}} Login</h4>
            <form action="javascript:void()">
                <p><input type="text" id="email" placeholder="Email"></input><br></p>
                <p><input type="password" id="password" placeholder="Password"></input><br></p>
                <input type="submit" value="Submit" onclick="login()"/>
            </form>
            <p>Need an account? <a href="/newaccount">Create account</a></p>
            <p>Forgot password? <a href="/passwordreset">Password reset</a></p>
        </div>
    </div>
</body>