<body class="newaccount" onload="checkStatus()">   
    <div id="app">
        <center>
            <h3>{{title}}</h3>
            Email: <input type="text" id="email"></input><br>
            Password: <input type="password" id="password"></input><br>
            Confirm Password: <input type="password" id="cpassword"></input><br>
            First Name: <input type="text" id="firstname"></input><br>
            Last Name: <input type="text" id="lastname"></input><br>
            <button onclick="window.location='/login'">Cancel</button>
            <button onclick="newAccount()">Submit</button>
        </center>
    </div>
</body>