<body class="newbase">   
    <div id="app">
        <center>
            <h3>{{title}}</h3>
            Station Name: <input type="text" id="name"></input><br>
            Latitude: <input type="text" id="lat"></input><br>
            Longitude: <input type="text" id="long"></input><br>
            Capacity: <input type="text" id="capacity"></input><br>
            <button onclick="window.location='/bases'">Cancel</button>
            <button onclick="newBase()">Submit</button>
        </center>
    </div>
    <script src="/bases.js"></script>
</body>