<body class="newpassword" onload="checkStatus()">   
    <div id="app">
        <center>
            <h3>{{title}}</h3>
            New Password: <input type="password" id="newpass"></input>
            <button onclick="window.location='/login'">Cancel</button>
            <button onclick="setPass()">Submit</button>
        </center>
    </div>
</body>