<body class="passwordreset" onload="checkStatus()">   
    <div id="app">
        <center>
            <h3>{{title}}</h3>
            <div id="passwordreset">
                Error: The server did not recognize the password reset link or it has expired.<br>
                To send a new link, please enter the email address associated with your account below.<br>
                <br>
                Email: <input type="text" id="email"></input><br>
                <br>
                <button onclick="enablePasswordReset()">Send Reset Email</button>
            </div>
            <div id="response1"></div>
            <br>
            <div id="response2"></div>
        </center>
    </div>
</body>