<body class="admin">   
    <div id="app">
        <center>
            <h3>{{title}}</h3>
            <button onclick="window.location='/accounts/{{account}}'">My Account</button>
            <br>
            <br>
            <button onclick="window.location='/logout'">Logout</button>
        </center>
    </div>
</body>